<!DOCTYPE html>
<html>
<head>
<script src="templates/notes.js"> </script>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="static/notes.css">
  <title>Notes</title>
  <meta name="description" content="Make your notes now">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h1>Create Your Notes </h1>
  <form>
    <textarea name="formNoteText" id="formNoteText" cols="50" rows="8" maxlength="300"></textarea>
    <select name="formColor" id="formColor">
      <option value="none">Select color</option>
      <option value="red">Red</option>
      <option value="green">Green</option>
      <option value="blue">Blue</option>
      <option value="yellow">Yellow</option>
      <option value="purple">Purple</option>
    </select>
    <button id="formAddButton">Add note</button>
  </form>

  <div id="notes"></div>
  
</body>
</html>
