{% extends 'base.html' %}

{% block content %}
    <h1>Create Your Notes </h1>
    <div class="form">
        <textarea name="formNoteText" id="formNoteText" cols="50" rows="8" maxlength="300"></textarea>
        <select name="formColor" id="formColor">
            <option value="none">Select color</option>
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option value="yellow">Yellow</option>
            <option value="purple">Purple</option>
        </select>
        <button id="formAddButton">Add note</button>
    </div>

  <div id="notes"></div>
{% endblock %}
